*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background:#000;
  color:#fff;
  text-align: center;
  line-height: 100px;
  height:100%;
  width:100%;
}
h1{
  color:#fff;
}
h2{
  color:#06d6a4;
}